body {
    padding: 0;
    margin: 0;
}
html, body {
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: 'BeVietnamPro';
    src: url('./public/fonts/BeVietnamPro-Regular.ttf');
}

@font-face {
    font-family: 'BeVietnamProBold';
    src: url('./public/fonts/BeVietnamPro-Bold.ttf');
}

body{
    font-family: 'BeVietnamPro';
}

p {
    margin: 0;
}

h4 {
    margin: 0;
}
.button {
    cursor: pointer;
}

.button:hover {
    opacity: 0.6;
}

.container {
    display: flex;
    justify-content: center;
    height: 100%;
    flex-wrap: wrap;
    /* align-items: center; */
}

.event-hidden {
    pointer-events: none;
}

.infor {
    padding-top: 92px;
    width: 455px;
    opacity: 0;
    transition: all 2.5s;
}

.infor .item {
    display: flex;
    align-items: flex-start;
    padding-bottom: 27px;
    border-bottom: 1px solid #6D6E71;
    font-size: 22px;
    font-style: normal;
    line-height: normal;
    color: #6D6E71;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 37px;
}

.infor .item  .total-km {
    font-family: 'BeVietnamProBold';
    font-weight: 700;
    text-transform: uppercase;
    transition: ease-in .7s;
}

.infor .item  .local-km {
    font-weight: 400;
    max-width: 309px;
}

.item .icon {
    margin-right: 20px;
}

/*MAP*/
.map{
    width: 587px;
    min-width: 587px;
}

.map-content {
    padding-left: 24px;
    padding-right: 40px;
    /* padding-right: calc(40 / 587 * 100%); */
}

.map .map-svg {
    width: 100%;
    height: auto;
}

.map svg path.active {
    stroke: #0F9B4B;
}

.map path.button.button-border.active {
    fill: transparent;
    stroke: transparent;
}

.map svg .active.button {
    fill: #62B08F;
    color: aliceblue;
    stroke: #62B08F;
}

.map svg path.active.text-button {
    fill: white;
    stroke: transparent;
}


/*DETAIL MAP*/
.map-wrap {
    width: 398px;
    min-width: 398px;
}

.map-detai .arrow-wrap {
    position: absolute;
}

.arrow-line-1 {
    bottom: 42px;
    left: 90px;
}

.arrow-line-2 {
    bottom: 40px;
    left: 133px;
    transform: rotate(1deg);
}

.path-line  {
    transition: all 1s;
    transition-delay: 0.5s;
}
.pat-line-1 {
    stroke-dasharray: 320;
    stroke-dashoffset: 320;
}

.pat-line-2 {
    stroke-dasharray: 372;
    stroke-dashoffset: 372;
}

image.arrow-head {
    opacity: 0;
    transition: opacity .2s;
    transition-delay: 1.5s;
}

.map-detai.active  image.arrow-head{
    opacity: 1;
}

.map-wrap {
    width: 398px;
}

.map-detai {
    height: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    z-index: -99;
    top: 0;
}

.map-detai.active {
    display: block;
    opacity: 1;
    transition: opacity ease-in-out 1s;
    height: auto;
    pointer-events: all;
    z-index: 1;
    position: relative;
    height: auto;
    width: 100%;
}
